# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.pycache

# Environment variables
.env
.env.local

# Virtual environments
.venv/
venv/
env/

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
